asgiref==3.8.1
Django==5.0.6
django-cors-headers==4.7.0
django-taggit==6.1.0
django-taggit-serializer==0.1.7
djangorestframework==3.16.0
MarkupSafe==2.1.5
packaging==24.1
pillow==11.2.1
#pywin32==310
six==1.17.0
sqlparse==0.5.0
typing_extensions==4.13.2
tzdata==2024.1
